.overlay_element {
	filter: blur(var(--overlay-blur))
}
[data-overlay-size="1"] { --overlay-size: 30px; }
[data-overlay-size="2"] { --overlay-size: 60px; }
[data-overlay-size="3"] { --overlay-size: 90px; }
[data-overlay-size="4"] { --overlay-size: 120px; }
[data-overlay-size="5"] { --overlay-size: 150px; }
[data-overlay-size="6"] { --overlay-size: 180px; }
[data-overlay-size="7"] { --overlay-size: 210px; }
[data-overlay-size="8"] { --overlay-size: 240px; }
[data-overlay-size="9"] { --overlay-size: 270px; }
[data-overlay-size="10"] { --overlay-size: 300px; }

[data-overlay-opacity="0"] { --overlay-opacity: 0; }
[data-overlay-opacity="1"] { --overlay-opacity: 0.1; }
[data-overlay-opacity="2"] { --overlay-opacity: 0.2; }
[data-overlay-opacity="3"] { --overlay-opacity: 0.3; }
[data-overlay-opacity="4"] { --overlay-opacity: 0.4; }
[data-overlay-opacity="5"] { --overlay-opacity: 0.5; }
[data-overlay-opacity="6"] { --overlay-opacity: 0.6; }
[data-overlay-opacity="7"] { --overlay-opacity: 0.7; }
[data-overlay-opacity="8"] { --overlay-opacity: 0.8; }
[data-overlay-opacity="9"] { --overlay-opacity: 0.9; }
[data-overlay-opacity="10"] { --overlay-opacity: 1; }

[data-overlay-blur="0"]  { --overlay-blur: 0px; }
[data-overlay-blur="1"]  { --overlay-blur: 20px; }
[data-overlay-blur="2"]  { --overlay-blur: 40px; }
[data-overlay-blur="3"]  { --overlay-blur: 60px; }
[data-overlay-blur="4"]  { --overlay-blur: 80px; }
[data-overlay-blur="5"]  { --overlay-blur: 100px; }
[data-overlay-blur="6"]  { --overlay-blur: 120px; }
[data-overlay-blur="7"]  { --overlay-blur: 140px; }
[data-overlay-blur="8"]  { --overlay-blur: 160px; }
[data-overlay-blur="9"]  { --overlay-blur: 180px; }
[data-overlay-blur="10"] { --overlay-blur: 200px; }

[data-overlay-background="true"] .overlay_element{
    background-color: currentColor;
}
@container (width < 48em) {
	.gradient_element {
	filter: blur(calc(var(--gradient-blur) / 1.5))
}
}