/* Defaults - Base styles for all button animations */

[data-button-flip="true"]:has([data-icon-type="arrow"]),
[data-button-flip="true"]:has([data-icon-type="arrow-full"]) {
  transform: rotate(180deg);
}

.button_line_wrap {
  display: none;
}

.button_icon:has(.u-svg[data-icon-type="arrow"]) {
  width: 0.8rem;
  height: 0.8rem;
}

/* Hide and position last child if not an only child (shown in slide animation) */
.button_text:last-child:not(:only-child),
.button_icon .u-svg:last-child:not(:only-child) {
  display: none;
  position: absolute;
}

.button_contain {
  transition:
    all calc(var(--_button-style---transition-all) * 1ms) ease,
    color calc(var(--_button-style---transition-color) * 1ms) ease;
}

.button_text,
.button_line,
.button_icon .u-svg {
  transition: transform calc(var(--_button-style---transition-all) * 1ms) ease;
}

/* Inactive links */
.button_wrap[data-disable-animation="true"]{
  --_trigger---on: 1 !important;
  --_trigger---off: 0 !important;
  border-bottom-color: transparent !important;
}
.button_wrap[data-disable-animation="true"] .button_contain {
  border-bottom-color: transparent !important;
}
.button_wrap[data-disable-animation="true"] .button_line_wrap {
  display: none !important;
}
.button_wrap[data-disable-animation="true"] * {
  animation: none !important;
  transition: none !important;
}

/* Primary & Secondary buttons: bgfill animation */
.button_wrap[data-animation-type="bgfill"] {

  & .button_contain {
    color: color-mix(
      in srgb,
      var(--_button-style---text) calc(100% * var(--_trigger---on)),
      var(--_button-style---text-hover) calc(100% * var(--_trigger---off))
    );
  }

  & .button_contain::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(300% * var(--_trigger---off));
    height: calc(300% * var(--_trigger---off));
    background: var(--_button-style---background-hover);
    border-radius: 50%;
    transform: translate(-50%, 50%);
    transition: width calc(var(--_button-style---transition-all) * 1ms) ease, height calc(var(--_button-style---transition-all) * 1ms) ease;
    z-index: 0;
  }
}

/* Primary & Secondary buttons: bgbasic animation */
.button_wrap[data-animation-type="bgbasic"] {

  & .button_contain {
    color: color-mix(
      in srgb,
      var(--_button-style---text) calc(100% * var(--_trigger---on)),
      var(--_button-style---text-hover) calc(100% * var(--_trigger---off))
    );
    background: color-mix(
      in srgb,
      var(--_button-style---background) calc(100% * var(--_trigger---on)),
      var(--_button-style---background-hover) calc(100% * var(--_trigger---off))
    );
  }
}

/* Text button: double-line animation */
.button_wrap[data-animation-type="double-line"] {
  & .button_line_wrap {
    display: block;
  }

  & .button_line:first-child {
    transform: translateX(calc(101% * var(--_trigger---off)));
    transition-delay: calc(0.2s * var(--_trigger---on));
  }

  & .button_line:last-child {
    transform: translateX(calc(-101% + (101% * var(--_trigger---off))));
    transition-delay: calc(0.2s * var(--_trigger---off));
  }
}

/* Line animation */
.button_wrap[data-animation-type="line"] {
  & .button_line_wrap {
    display: block;
  }

  & .button_line:last-child {
    display: none;
  }

  & .button_line:first-child {
    transform: scaleX(calc(101% * var(--_trigger---off)));
    transform-origin: calc(101% * var(--_trigger---on)) 101%;
  }
}

/* Slide animation */
.button_wrap[data-animation-type="slide"] {

  /* Show last children for slide animation */
  & .button_text:last-child:not(:only-child),
  & .button_icon .u-svg:last-child:not(:only-child) {
    display: block;
  }

  /* Default - Vertical animation (for all icons without specific type) */
  & .button_icon .u-svg:first-child:not(:only-child) {
    transform: translateY(calc(-101% * var(--_trigger---off)));
    transition-delay: calc(0.1s * var(--_trigger---on));
  }

  & .button_icon .u-svg:last-child:not(:only-child) {
    transform: translateY(calc(101% - (101% * var(--_trigger---off))));
    transition-delay: calc(0.1s * var(--_trigger---off));
  }

  & .button_text:first-child:not(:only-child) {
    transform: translateY(calc(-1.25em * var(--_trigger---off)));
    transition-delay: calc(0.1s * var(--_trigger---on));
  }

  & .button_text:last-child:not(:only-child) {
    transform: translateY(calc(1.25em - (1.25em * var(--_trigger---off))));
    transition-delay: calc(0.1s * var(--_trigger---off));
  }

  /* Arrow type - Horizontal animation */
  & .button_icon .u-svg:first-child:not(:only-child)[data-icon-type="arrow"] {
    transform: translateX(calc(101% * var(--_trigger---off)));
    transition-delay: calc(0.1s * var(--_trigger---on));
  }

  & .button_icon .u-svg:last-child:not(:only-child)[data-icon-type="arrow"] {
    transform: translateX(calc(-101% + (101% * var(--_trigger---off))));
    transition-delay: calc(0.1s * var(--_trigger---off));
  }

  /* Arrow diagonal type - Both axes */
  & .button_icon .u-svg:first-child:not(:only-child)[data-icon-type="arrow-diagonal"] {
    transform: translate(calc(101% * var(--_trigger---off)),
        calc(-101% * var(--_trigger---off)));
    transition-delay: calc(0.1s * var(--_trigger---on));
  }

  & .button_icon .u-svg:last-child:not(:only-child)[data-icon-type="arrow-diagonal"] {
    transform: translate(calc(-101% + (101% * var(--_trigger---off))),
        calc(101% - (101% * var(--_trigger---off))));
    transition-delay: calc(0.1s * var(--_trigger---off));
  }
}