/* ===== STATE MANAGER ===== */
[data-state] {
    --_state---true: 1;
    --_state---false: 0;
}

.is-active,
.wf-design-mode [data-state~="preview"],
[data-state~="checked"]:is(:checked, :has(:checked)),
[data-state~="current"]:is(.w--current, :has(.w--current)),
[data-state~="open"]:is(.w--open, :has(.w--open)),
[data-state~="pressed"]:is([aria-pressed="true"], :has([aria-pressed="true"])),
[data-state~="expanded"]:is([aria-expanded="true"], :has([aria-expanded="true"])),
[data-state~="external"]:is([target="_blank"], :has([target="_blank"])) {
    --_state---true: 0;
    --_state---false: 1;
}

/* ===== DATA TRIGGER SYSTEM ===== */
[data-trigger] {
    --_trigger---on: 1;
    --_trigger---off: 0;
}

.wf-design-mode [data-trigger~="preview"],
[data-trigger~="focus"]:is(:focus-visible, :has(:focus-visible)),
[data-trigger~="group"]:has([data-trigger~="focus-other"]:focus-visible, [data-trigger~="focus-other"] :focus-visible) [data-trigger~="focus-other"]:not(:focus-visible, :has(:focus-visible)) {
    --_trigger---on: 0;
    --_trigger---off: 1;
}

@media (hover: hover) {

    [data-trigger~="hover"]:hover,
    [data-trigger~="hover-if-clickable"]:has(.clickable_wrap:not(.w-condition-invisible)):hover,
    [data-trigger~="group"]:has([data-trigger~="hover-other"]:hover) [data-trigger~="hover-other"]:not(:hover) {
        --_trigger---on: 0;
        --_trigger---off: 1;
    }

    [data-trigger~="hover-other"]:hover {
        --_trigger---on: 1 !important;
        --_trigger---off: 0 !important;
    }
}

@media (hover: none) {
    [data-trigger~="mobile"] {
        --_trigger---on: 0;
        --_trigger---off: 1;
    }
}

/* ===== FOCUS STATES ===== */
.u-focus-inner:focus-visible,
.u-focus-inner :is(a, button, [tabindex], input, select, textarea):focus-visible {
    outline-offset: var(--focus--offset-inner) !important;
}

/* Focus State */
a,
button,
:where([tabindex]),
input {
    outline-offset: var(--focus--offset-outer);
}

a:focus-visible,
button:focus-visible,
[tabindex]:focus-visible,
input:focus-visible {
    outline-color: var(--_theme---text);
    outline-width: var(--focus--width);
    outline-style: solid;
}

/* ===== ANIMATION PREVENTION UTILITY ===== */
.u-prevent-animation,
.u-prevent-animation * {
    animation: none !important;
    transition: none !important;
    --_trigger---on: 1 !important;
    --_trigger---off: 0 !important;
    --_state---true: 1 !important;
    --_state---false: 0 !important;
}
[data-designer-move="1"]{--dm:-15%}[data-designer-move="2"]{--dm:-30%}[data-designer-move="3"]{--dm:-45%}[data-designer-move="4"]{--dm:-60%}[data-designer-move="5"]{--dm:-75%}[data-designer-move="6"]{--dm:-90%}[data-designer-move="7"]{--dm:-105%}[data-designer-move="8"]{--dm:-120%}[data-designer-move="9"]{--dm:-135%}[data-designer-move="10"]{--dm:-150%}[data-designer-move="11"]{--dm:-165%}[data-designer-move="12"]{--dm:-180%}[data-designer-move="13"]{--dm:-195%}[data-designer-move="14"]{--dm:-210%}[data-designer-move="15"]{--dm:-225%}[data-designer-move="16"]{--dm:-240%}[data-designer-move="17"]{--dm:-255%}[data-designer-move="18"]{--dm:-270%}[data-designer-move="19"]{--dm:-285%}[data-designer-move="20"]{--dm:-300%}